<div class="container">
  <div class="card">
    <form (ngSubmit)="login(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label>Email:</label>
          <input
            type="email"
            class="form-control"
            name="email"
            ngModel
            required
            [ngClass]="{ 'border border-danger': f.invalid && f.touched }"
          />
        </div>
        <div class="col-sm-12 form-group">
          <label> Password:</label>
          <input
            type="password"
            class="form-control"
            name="password"
            ngModel
            required
          />
        </div>
        <div class="col-sm-12 form-group">
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
