<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="navbar-item">
        <a
          routerLink="product/create"
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Create Product</a
        >
      </li>
      <li class="navbar-item">
        <a routerLink="products" class="nav-link" routerLinkActive="active"
          >Products</a
        >
      </li>
    </ul>
  </div>
</nav>
