<table class="table table-hover">
  <thead>
    <tr>
      <td>Product Name:</td>
      <td>Product Description:</td>
      <td>Product Price:</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.productName }}</td>
      <td>{{ product.productDescription }}</td>
      <td>{{ product.productPrice }}</td>
      <td>
        <a [routerLink]="['/edit', product._id]" class="btn btn-primary"
          >Edit</a
        >
      </td>
      <td>
        <a class="btn btn-danger" (click)="deleteProduct(product._id)"
          >Delete</a
        >
      </td>
    </tr>
  </tbody>
</table>
